
<body style="font-family: Amiri;font-size: 22px;color: green; text-align: right">

<form novalidate #form="ngForm">
  <div>
    <div class="submit-form" style="max-width: 400px;  margin: auto;">
      <div *ngIf="!submitted">

        <div class="form-group">
          <label for="leadingCategory" style="color: #000000;">!إختر صنف الرائدة</label>
          <select name="leadingCategory"
                  id="leadingCategory"
                  class="form-control"
                  (change)="changeLeadingCategory($event)"
                  required
                  #leadingCategory="ngModel"
                  [(ngModel)]="beneficiary.leadingCategory">
            <option>--Choose Country--</option>
            <option>--قم باختيار صف الرائدة--</option>
            <option *ngFor="let leadingCategory of leadingCategories">{{leadingCategory.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="leadingSubCategory" style="color: #000000;">رائدة ذات أولوية</label>
          <select name="leadingSubCategory"
                  id="leadingSubCategory"
                  class="form-control"
                  #leadingSubCategory="ngModel"
                  [class.invalid]="leadingSubCategory.invalid && leadingSubCategory.touched"
                  [(ngModel)]="beneficiary.leadingSubCategory">
            <option>--Choose State--</option>
            <option>-- قم باختيار صف الرائدة ذات الأولوية--</option>
            <option *ngFor="let leadingSubCategory of leadingSubCategories">{{leadingSubCategory.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="firstName" style="color: #000000;">إسم المترشحة</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            title = "إسم المترشحة"
            required
            [(ngModel)]="beneficiary.firstName"
            name="firstName"
            #firstName="ngModel"
            [class.invalid]="firstName.invalid && firstName.touched"
          />
        </div>

        <div class="form-group">
          <label for="description"style="color: #000000;">لقب المترشحة</label>
          <input
            class="form-control"
            id="description"
            required
            title="لقب المترشحة"
            [(ngModel)]="beneficiary.lastname"
            name="description"
            #description="ngModel"
            [class.invalid]="description.invalid && description.touched"
          />
        </div>

        <div class="form-group">
          <label for="birthdate"style="color: #000000;">تاريخ الميلاد</label>
          <input
            type="date"
            class="form-control"
            id="birthdate"
            required
            title = "تاريخ الميلاد"
            placeholder="dd-MM-yyyy"
            [(ngModel)]="beneficiary.birthdate"
            min="1962-01-01" max="2004-01-01"
            name="birthdate"
            #birthdate="ngModel"
            [class.invalid]="birthdate.invalid && birthdate.touched"
          />
        </div>

        <div class="form-group">
          <label for="description"style="color: #000000;">بطاقة تعريف</label>
          <input
            class="form-control"
            id="cin"
            required
            pattern="[0-9]{8}"
            title="رقم ب. ت. و يجب أن يحتوي على 8 أرقام"
            placeholder="01234567"
            minlength="8"
            maxlength="8"
            [(ngModel)]="beneficiary.cin"
            name="cin"
            #cin="ngModel"
            [class.invalid]="cin.invalid && cin.touched"
          />
        </div>

        <div class="form-group">
          <label for="academicLevel" style="color: #000000;">!إختر المستوي العلمي</label>
          <select name="academicLevel"
                  id="academicLevel"
                  class="form-control"
                  required
                  #academicLevel="ngModel"
                  [(ngModel)]="beneficiary.academicLevel">
            <option>--قم باختيار المستوي العلمي--</option>
            <option value="volvo">أمية</option>
            <option value="saab">إبتدائي</option>
            <option value="mercedes">إعدادي</option>
            <option value="audi">ثانوي</option>
            <option value="audi">عالي</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description"style="color: #000000;">العنوان</label>
          <input
            class="form-control"
            id="address"
            required
            title="العنوان"
            [(ngModel)]="beneficiary.address"
            name="address"
            #address="ngModel"
            [class.invalid]="address.invalid && address.touched"
          />
        </div>

        <div class="form-group">
          <label for="description"style="color: #000000;">المعرف البريدي</label>
          <input
            class="form-control"
            id="codePostal"
            required
            [(ngModel)]="beneficiary.codePostal"
            name="codePostal"
            pattern="[0-9]{4}"
            title="المعرف البريدي يجب أن يحتوي على 4 أرقام"
            placeholder="1234"
            minlength="4"
            maxlength="4"
            #codePostal="ngModel"
            [class.invalid]="codePostal.invalid && codePostal.touched"
          />
        </div>

        <div class="form-group">
          <label for="description"style="color: #000000;">! إختر الولاية</label>
          <select
            class="form-control"
            id="governorate"
            required
            title="الولاية"
            [(ngModel)]="selectedCountry" (change)="changeCountry($event)"
            [(ngModel)]="beneficiary.governorate"
            name="governorate"
            #governorate="ngModel"
            [class.invalid]="governorate.invalid && governorate.touched">
            <option>--إختر الولاية--</option>
            <option *ngFor="let country of Countries">{{country.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description"style="color: #000000;">! إختر المدينة</label>
          <select
            class="form-control"
            id="ville"
            required
            title="المدينة"
            (change)="changeState($event)"
            [(ngModel)]="beneficiary.ville"
            name="ville"
            #ville="ngModel"
            [class.invalid]="ville.invalid && ville.touched">
            <option>--إختر المدينة--</option>
            <option *ngFor="let state of states">{{state.name}}</option>
          </select>
        </div>

        <div class="card-container">
          <label>City</label>
          <select placeholder="City">
            <option>--Choose City--</option>
            <option *ngFor="let city of cities">{{city}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description"style="color: #000000;">صورة المترشحة</label>
          <input
            type="text"
            class="form-control"
            id="photo"
            title = "صورة المترشحة"
            [(ngModel)]="beneficiary.photo"
            name="photo"
          />
        </div>

        <mat-form-field>
          <div>
            <mat-toolbar>
              <input matInput [value]="selectedFileNames.length ? selectedFileNames : 'Select Images'" />

              <button
                mat-flat-button
                color="primary"
                [disabled]="!selectedFiles"
                (click)="uploadFiles()"
              >
                Upload
              </button>
            </mat-toolbar>

            <input
              type="file"
              id="fileInput"
              name="fileInput"

              accept="image/*" multiple
              (change)="selectFiles($event)"

            />
          </div>
        </mat-form-field>

        <div>
          <img *ngFor='let preview of previews' [src]="preview" class="preview">
        </div>

        <div *ngIf="message.length" class="message">
          <ul *ngFor="let msg of message; let i = index">
            <li>{{ msg }}</li>
          </ul>
        </div>


        <div class="form-group">
          <label for="email"style="color: #000000;">البريد الإلكتروني</label>
          <select
            class="form-control"
            id="email"
            required
            title="إسم المستخدم"
            [(ngModel)]="beneficiary.mail"
            name="email"
            #email="ngModel"
            [class.invalid]="email.invalid && email.touched">
            <option *ngFor="let un of listEmails" [value]="un" >
              {{ un }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="description"style="color: #000000;">الهاتف</label>
          <input
            class="form-control"
            id="numTel"
            required
            [(ngModel)]="beneficiary.numTel"
            name="numTel"
            pattern="[1-9]{2} [0-9]{3} [0-9]{3}"
            title="رقم الهاتف"
            placeholder="12 345 678"
            minlength="10"
            maxlength="10"
            #numTel="ngModel"
            [class.invalid]="numTel.invalid && numTel.touched"
          />
        </div>

        <div class="form-group">
          <label for="description"style="color: #000000;">إسم المستخدم</label>
          <select
            class="form-control"
            id="userName"
            required
            title="إسم المستخدم"
            [(ngModel)]="beneficiary.userName"
            name="userName"
            #userName="ngModel"
            [class.invalid]="userName.invalid && userName.touched">
            <option *ngFor="let un of listUserNames" [value]="un" >
              {{ un }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="activityTitle"style="color: #000000;">! إختر معرف النشاط</label>
          <select
            class="form-control"
            id="activityTitle"

            title="معرف النشاط"
            [(ngModel)]="beneficiary.activityTitle"
            name="activityTitle"
            #activityTitle="ngModel"
            [class.invalid]="activityTitle.invalid && activityTitle.touched">
            <option *ngFor="let dl of listActivityTitles" [value]="dl" >
              {{ dl }}
            </option>
          </select>
        </div>
        <button (click)="saveBeneficiary()" class="btn btn-success" [disabled]="form.invalid">حفظ</button>

      </div>

      <div *ngIf="submitted">
        <button class="btn btn-info btn-lg btn-block" (click)="newActivity()">إضافة نشاط</button>
      </div>
    </div>
  </div>
</form>
</body>

