<body>
<form novalidate #form="ngForm">
    <div>
      <div class="submit-form">
        <div *ngIf="!submitted">
          <div class="form-group">
            <label for="title">إسم النشاط</label>
            <input
              type="text"
              class="form-control"
              id="title"
              required
              [(ngModel)]="activity.title"
              name="title"
              #title="ngModel"
              [class.invalid]="title.invalid && title.touched"
            />
          </div>

          <div class="form-group">
            <label for="description">تعريف</label>
            <input
              class="form-control"
              id="description"
              required
              [(ngModel)]="activity.description"
              name="description"
              #description="ngModel"
              [class.invalid]="description.invalid && description.touched"
            />
          </div>

          <div class="form-group">
            <label for="description">العنوان</label>
            <input
              class="form-control"
              id="address"
              required
              [(ngModel)]="activity.address"
              name="address"
              #address="ngModel"
              [class.invalid]="address.invalid && address.touched"
            />
          </div>

          <div class="form-group">
            <label for="description">المعرف البريدي</label>
            <input
              class="form-control"
              id="codePostal"
              required
              [(ngModel)]="activity.codePostal"
              name="codePostal"
              minlength="4"
              maxlength="4"
              #codePostal="ngModel"
              [class.invalid]="codePostal.invalid && codePostal.touched"
            />
          </div>

          <div class="form-group">
            <label for="description"style="color: #000000;">! إختر الولاية</label>
            <select
              class="form-control"
              id="governorate"
              required
              title="الولاية"
              [(ngModel)]="selectedCountry" (change)="changeCountry($event)"
              [(ngModel)]="activity.governorate"
              name="governorate"
              #governorate="ngModel"
              [class.invalid]="governorate.invalid && governorate.touched">
              <option>--إختر الولاية--</option>
              <option *ngFor="let country of Countries">{{country.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description"style="color: #000000;">! إختر المدينة</label>
            <select
              class="form-control"
              id="ville"
              required
              title="المدينة"
              (change)="changeState($event)"
              [(ngModel)]="activity.ville"
              name="ville"
              #ville="ngModel"
              [class.invalid]="ville.invalid && ville.touched">
              <option>--إختر المدينة--</option>
              <option *ngFor="let state of states">{{state.name}}</option>
            </select>
          </div>
                        <div class="form-group">
                          <label for="description">المعرف الجبائي</label>
                          <input
                            class="form-control"
                            id="codeFiscal"
                            [(ngModel)]="activity.codeFiscal"
                            name="codeFiscal"
                          />
                        </div>

                        <div class="form-group">
                          <label for="description">صورة الرمز</label>
                          <input
                            class="form-control"
                            id="photo"
                            [(ngModel)]="activity.photo"
                            name="photo"
                          />
                        </div>

                        <div class="form-group">
                          <label for="description">البريد الإلكتروني</label>
                          <input
                            class="form-control"
                            id="email"
                            [(ngModel)]="activity.email"
                            name="email"
                          />
                        </div>

                        <div class="form-group">
                          <label for="description">الهاتف</label>
                          <input
                            class="form-control"
                            id="numTel"
                            required
                            [(ngModel)]="activity.numTel"
                            name="numTel"
                            pattern="[1-9]{2} [0-9]{3} [0-9]{3}"
                            title="رقم الهاتف يجب أن يحتوي على الصيغة 678 345 12"
                            placeholder="12 345 678"
                            #numTel="ngModel"
                            [class.invalid]="numTel.invalid && numTel.touched"
                          />
                        </div>

                        <div class="form-group">
                          <label for="description">موقع الواب</label>
                          <input
                            class="form-control"
                            id="siteWeb"
                            [(ngModel)]="activity.siteWeb"
                            name="siteWeb"
                          />
                        </div>

                        <div class="form-group">
                          <label for="description">عدد العملة</label>
                          <input
                            type="number"
                            class="form-control"
                            id="workerNumber"
                            required
                            [(ngModel)]="activity.workerNumber"
                            name="workerNumber"
                            #workerNumber="ngModel"
                            [class.invalid]="workerNumber.invalid && workerNumber.touched"
                          />
                        </div>

                        <div class="form-group">
                          <label for="description">القيمة</label>
                          <input

                            class="form-control"
                            id="amount"
                            required
                            minlength="4"
                            maxlength="6"
                            [(ngModel)]="activity.amount"
                            name="amount"
                            #amount="ngModel"
                            [class.invalid]="amount.invalid && amount.touched"
                          />
                        </div>

                        <div class="form-group">
                          <label for="beneficiaryCin">معرف المنتفعة</label>
                          <select
                            class="form-control"
                            id="beneficiaryCin"
                            required
                            [(ngModel)]="activity.beneficiaryCin"
                            name="beneficiaryCin"
                            #beneficiaryCin="ngModel"
                            [class.invalid]="beneficiaryCin.invalid && beneficiaryCin.touched">
                            <option *ngFor="let st of listBeneficiaryCins" [value]="st" >
                              {{ st }}
                            </option>
                          </select>
                        </div>

                        <button (click)="saveActivity()" class="btn btn-info btn-lg btn-block" [disabled]="form.invalid">Submit</button>
                      </div>

                      <div *ngIf="submitted">
                        <button class="btn btn-info btn-lg btn-block" (click)="newActivity()">إضافة نشاط</button>
                      </div>
                    </div>
                  </div>
              </form>
              </body>
