<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">إسم المستخدم</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">إسم المستخدم ضروري</div>
          <div *ngIf="username.errors.minlength">
            إسم المستخدم لا يقل عن 3 إحرف
          </div>
          <div *ngIf="username.errors.maxlength">
            إسم المستخدم لا يتجاوز عن 20 حرفا
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">الإيمايل</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">الإيمايل ضروري</div>
          <div *ngIf="email.errors.email">
            يجب إدراج الإيمايل بصيغة معتمدة
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">كلمة العبور</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">كلمة العبور ضرورية</div>
          <div *ngIf="password.errors.minlength">
            كلمة العبور لا يجب أن تقل عن 6 أحرف
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="regionalCommissary">المندوبية الجهوية</label>
        <select id="cars"
                class="form-control"
                name="regionalCommissary"
                [(ngModel)]="form.regionalCommissary"
                required
                #regionalCommissary="ngModel"
        >
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: تونس">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: تونس</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: أريانة">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: أريانة</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: منوبة">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: منوبة</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: بن عروس">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: بن عروس</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: نابل">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: نابل</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: بنزرت">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: بنزرت</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: زغوان">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: زغوان</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: سوسة">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: سوسة</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: المنستير">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: المنستير</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: المهدية">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: المهدية</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: صفاقس">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: صفاقس</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: باجة">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: باجة</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: جندوبة">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: جندوبة</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: الكاف">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: الكاف</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: سليانة">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: سليانة</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: القيروان">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: القيروان</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: سيدي بوزيد">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: سيدي بوزيد</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: القصرين">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: القصرين</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: قابس">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: قابس</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: مدنين">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: مدنين</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: قفصة">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: قفصة</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: توزر">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: توزر</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: تطاوين">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: تطاوين</option>
          <option value="المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: قبلي">المندوبيّة الجهويّة لشؤون المرأة والأسرة بـ: قبلي</option>
        </select>
        <div class="alert-danger" *ngIf="regionalCommissary.errors && f.submitted">
          <div *ngIf="regionalCommissary.errors.required">المندوبية الجهوية ضرورية</div>

        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">التسجيل</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        لم تتم علية التسجيل<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful" style="text-align: center">
      تم التسيجيل بنجاح
    </div>
  </div>
</div>
